
div {

    font-family: Helvetica;
    background-color: #8ba5be;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    }
    
    nav{

        background-color: #8ba5be;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: underline none;

    }

    .items1:hover{
        text-decoration: underline red 5px;
    }
    
    .items2:hover{
        text-decoration: underline green 5px;
    }
    
    .items3:hover{
        text-decoration: underline blue 5px;
    }
    

img{
    width: 30px;
   
}



h1{
    border-radius:  25px;
    border: 2px solid black;
    margin-left: 550px;
    width: 140px;
}



#Looks{
    background-color: #dceefdd7;
    color: black;
    border-radius:  25px;
    border: 2px solid black;
    width: 900px;
    margin-left: 20px;
}

.TopSection{
    background-color: white;
    color: black;
    display: flex;
justify-content: space-around;

}

#MyBackground{

    background-color: white;
    color: black;
    border-radius:  25px;
    border: 2px solid black;
    width: 180px;
    height: 250px;
    margin-right: 30px;
    text-align: center;
    
}



#MyImage{
    width: 300px;
}

a{
    color: inherit;
    text-decoration: inherit;
    }
