div {

    font-family: Helvetica;
    background-color: #8ba5be;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    }
    
    nav{
    
    background-color: #8ba5be;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    img {
    
    width: 30px;
    
    }


.items1:hover{
    text-decoration: underline red 5px;
}

.items2:hover{
    text-decoration: underline green 5px;
}

.items3:hover{
    text-decoration: underline blue 5px;
}

.items4:hover{
    
    text-decoration: underline white;
}

a {
    
    width: 20%;
    text-align: center;
    text-decoration: none;
    }

.Top_Header{
    background-color: white;
    color: black;
    margin-left: 400px;
    display: flex;
    width: 50%;
    align-items: center;
    border-radius:  25px;
    border: 2px solid black;
    width: 500px;
    align-items: center;
}

boxes{
display: flex;
justify-content: flex-start;
}

.First_Box{
    display: flex;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 200px;
    margin-left: 50px;
    margin-right:  130px;
}

.Second_Box{
    display: flex;
    background-color: white;
    color: black;

    border: 2px solid black;
    width: 250px; 
    margin-right:  130px;
}

.Third_Box{
    display: flex;
    background-color: white;
    color: black;

    border: 2px solid black;
    width: 200px;
    margin-right: 100px;
}

#ASCLogo{

width: 130px;

}

.Fourth_Box{
    display: flex;
    background-color: white;
    color: black;

    border: 2px solid black;
    width: 200px;
    margin-right: 100px;
}



.Bottom_Paragraph{
    background-color: white;
    color: black;

    border-radius:  25px;
    border: 2px solid black;
    width: 750px;
    margin-left: 250px;

}

@media(max-width: 530px)  {

    boxes{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

   .First_Box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   }

}

/*
a{
color: inherit;
text-decoration: inherit;
}
*/


